<p>edit-details works!</p>
<div class="container-fluid" >
    <div class="col-6">
    <form [formGroup]="editPerson" (ngSubmit)="valuesForEditField()" >
        <div class="form-group">
            <label>NAME</label>
          <input type="text" class="form-control" id="Name"  placeholder="Enter Name" name="Name" formControlName="Name">
          <small id="emailHelp" class="form-text text-muted"></small>
    
          <label>Email address</label>
          <input type="email" class="form-control" id="Email"  placeholder="Enter email"name="Email" formControlName="Email">
          <small id="emailHelp" class="form-text text-muted"> </small>
        </div>
        <div class="form-group">
          <label>DOB</label>
          <input type="date" class="form-control" id="DOB"  placeholder="dob" name="DOB" formControlName="DOB">
        </div>
        <div class="form-group">
            <label>AVATAR</label>
            <input type="text" class="form-control" id="Avatar"  placeholder="gender"  name="Avatar" formControlName="Avatar">
          </div>
          <div class="form-group">
            <label>COUNTRY</label>
            <input type="text" class="form-control" id="Country"  placeholder="country" name="Country" formControlName="Country">
          </div>
          <div class="form-group">
            <label>Profile Path </label><br>
           <label><img src="{{Photo}}" style="width: 250; height: 250;" ></label>
            <input type="text" class="form-control" id="Profile"  placeholder="Enter Path" name="Profile" formControlName="Profile">

          </div>
        <!--  <div class="form-group">
            <label>Profile</label><br><br>
            <img [src]="ImagePath" style="width: 250; height: 250;">
          </div>-->
        
        <button type="submit" class="btn btn-primary">UPDATE</button>
      </form>
    </div>
    
    </div>
